@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
html,body {
    padding: 0;
    margin: 0;
    position: relative;
  }
  div {
    display: block;
    position: relative;
  }
  svg {
    max-width: 100%;
  }
  a {
    position: fixed;
    top: 2em;
    left: 2em;
    z-index: 99999;
    text-decoration: none;
    color: #FFF;
    padding: .5em;
    font-family: arial;
    border: 2px solid #FFF;
  }